
img {
max-width: 100%; 
max-height: 100%;
width: auto;
height: auto; 
position:absolute;
top:0;
}


p {
	font-family:arial, sans-serif;
	font-size:1em;
	color:white;
	font-weight:bold;
	text-align:center;
}

#countbox1{
font:1em Arial;
color:white;
font-weight:bold;
text-align:center;
}

#meat{
	
	margin:6% auto;
	position:relative;
	width:50%;
	z-index:500;
	/*border:1px black solid;*/
	width:95%;
}

html{
	background-color:<img src="/images/dock.png" ></img>;
	
}
